<h2 class="mt-5 mb-4">７日間分の投稿数</h2>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th>6日前</th>
          <th>5日前</th>
          <th>4日前</th>
          <th>3日前</th>
          <th>2日前</th>
          <th>1日前</th>
          <th>今日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @books.created_6day_ago.count %></td>
          <td><%= @books.created_5day_ago.count %></td>
          <td><%= @books.created_4day_ago.count %></td>
          <td><%= @books.created_3day_ago.count %></td>
          <td><%= @books.created_2day_ago.count %></td>
          <td><%= @books.created_yesterday.count %></td>
          <td><%= @books.created_today.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


